<style>
    html,
    body {
        color: darkorange;
        font-family: Georgia;
        font-size: 43px;
        font-style: italic;
        font-weight: bold;
        line-height: 3.2;
        margin: 0;
        padding: 0;
    }

    body > * {
        background: lightblue;
    }
</style>
