<!-- Set intentionally hostile defaults for inherited properties, based on: http://www.w3.org/TR/CSS21/propidx.html -->
<style>
    html,
    body {
        color: darkorange;
        font-family: Georgia;
        font-size: 43px;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.5em;
        line-height: 3.2;
        margin: 0;
        padding: 0;
        text-align: center;
        text-indent: 103px;
        text-transform: uppercase;
        text-shadow: 0 2px 1px red;
    }

    body > * {
        background: lemonchiffon;
        margin: 17px 13px 9px 28px;
        padding: 22px 12px 32px 17px;
    }
</style>

