*.DS_Store
/node_modules
test/sample_project/_site
test/sample_project/node_modules/product-a/node_modules
test/sample_project/node_modules/product-b/node_modules
test/sample_project/data/icons.json
/coverage
