{% import 'components/uds.njk' as components with context %}
{% import 'components/uds_doc_library.njk' as doc_components with context %}
<h1>Doc Site Homepage</h1>

{{ components.button() }}
{{ doc_components.code_snippet() }}
