@import 'tokens';
@import 'product-a/tokens/tokens';

.esds-nav {
    &:before {
        content: $product-a-content-token;
    }

    border: $esds-border-medium;
    color: lemonchiffon;
    display: grid;
    grid-row-start: 1;
}
