{% extends 'templates/base.njk' %}
{% block head_content_prepend %}
    {% include 'includes/hostile-inline-styles.njk' %}
{% endblock %}
{% block body %}
    ESDS sink template default content.
{% endblock %}
